# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
venv
# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
distask/locks/__pycache__
__pycache__
distask/tiggers/__pycache__
distask/datastores/__pycache__
distask/schedulers/__pycache__
distask/serializers/__pycache__
dist/
build/
